.selfpeer .title {
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 25px;
}

.selfpeer .title img {
    width: 3%;
    cursor: pointer;
}

.selfpeer .title h {
    margin-left: 1%;
}

.selfpeer .selfpeer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.selfpeer .selfpeer-item {
    background-color: white;
    padding: 3%;
    border-radius: 10px;
    width: 45%;
    margin: 1%;
}

.selfpeer .description {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3%;
}

.selfpeer .selfpeer-text {
    margin-left: 3%;
    align-items: center;
}

.selfpeer .selfpeer-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 3%;
}

.selfpeer .selfpeer-date {
    font-size: 16px;
}

.selfpeer .selfpeer-button {
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: rgb(0, 106, 255);
    color: white;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.selfpeer .task-details-container {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
}

.selfpeer .task-details {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    width: 29%;
    margin: 1%;
}

.selfpeer .task-details .task-description {
    margin-top: 1%;
    margin-left: 3%;
    align-items: center;
}

.selfpeer .task-details .task-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 3%;
}

.selfpeer .task-details .task-desc {
    font-size: 14px;
}

.selfpeer .question-container {
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin-left: 7%;
    margin-top: 4%;
    border-radius: 15px;
    padding: 1%;
    border: 1px solid #DEE2E6;
}

.selfpeer .buttonPosition {
    margin-left: 15%;
}

.selfpeer .btnGhost {
    border: 1px solid #D4D4D4;
    border-radius: 50%;
    padding: 5px 10px;
    margin: 20px;
    background-color: transparent;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    left: 50%;
}

.selfpeer .btnGhost:hover {
    background-color: #D4D4D4;
    color: black;
}

.selfpeer .submitButton {
    margin-left: 210px;
}

.selfpeer .submitButton .submit {
    background-color: #3A89FD;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 7px;
    font-size: medium;
    width: 120px;
}

.selfpeer .submitButton .submit:hover {
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #D4D4D4;
    color: black;
}

.selfpeer .question-container-scale {
    background-color: white;
    float: right;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    top: 100px;
    right: 80px;
    width: 300px;
    height: 240px;
    border: 1px solid #DEE2E6;
}

.selfpeer .question-container-scale .numberOne {
    background-color: #FF0000;
}

.selfpeer .question-container-scale .numberTwo {
    background-color: #FF720D;
}

.selfpeer .question-container-scale .numberThree {
    background-color: #FFCA0D;
}

.selfpeer .question-container-scale .numberFour {
    background-color: #9EFF00;
}

.selfpeer .question-container-scale .numberFive {
    background-color: #12FF0D;
}

.selfpeer .question-container-scale .numberOne,
.selfpeer .question-container-scale .numberTwo,
.selfpeer .question-container-scale .numberThree,
.selfpeer .question-container-scale .numberFour,
.selfpeer .question-container-scale .numberFive {
    border-radius: 50%;
    padding: 3px 9px;
    width: 3%;
    text-wrap: nowrap;
    word-spacing: px;
    font-size: medium;
    margin-left: 15px;
    display: flex;
}

.selfpeer .peer-list {
    width: 100%;
    margin: 20px 0;
}

.selfpeer .peer-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}

.selfpeer .peer-item:hover {
    background-color: #f0f0f0;
}

.selfpeer .peer-name,
.selfpeer .peer-status,
.selfpeer .peer-assessment {
    flex: 1;
    text-align: left;
}

.selfpeer .peer-status,
.selfpeer .peer-assessment {
    text-align: center;
}

.selfpeer .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 2px solid #ccc;
}

.selfpeer .table-header div {
    flex: 1;
    text-align: left;
    font-weight: bold;
}

.selfpeer .table-header .peer-status,
.selfpeer .table-header .peer-assessment {
    text-align: center;
}